[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "18"

[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/download/*"
  to = "/.netlify/functions/download"
  status = 200
